@import '../../styles/settings.scss';

.timer {
  font-family: $font-text;
  font-weight: 200;
}

.buttons {
  text-align: center;
}

.stopwatch {
  text-align: center;
}

h1 {
  text-align: center;
}